@mixin notes-page-style{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}
.notes-page{
  @include notes-page-style;
}
.link-style{
  width: 28%;
  margin:25px 2%;
  text-decoration: none;
  color: black;
}